In [2]:
# Import Libraries 
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [3]:
laptop_names = []
laptop_prices = []
laptop_ratings = []

laptop_dict = {}

for i in range(1,40): 
    
    url = f"https://www.flipkart.com/laptops/pr?sid=6bo%2Cb5g&marketplace=FLIPKART&page={i}"

    r = requests.get(url).content

    soup = BeautifulSoup(r , 'lxml')

    laptops_full_div = soup.find_all('div','_2kHMtA')

    for laptop in laptops_full_div : 
        name = laptop.find('div','_4rR01T').text
        laptop_names.append(name)
      
        price = int((laptop.find('div','_30jeq3 _1_WHN1').text).replace('â‚¹','').replace(',',''))
        laptop_prices.append(price)

        rating = soup.find('div','_3LWZlK').text
        laptop_ratings.append(rating)

In [4]:
laptop_dict = {
                'Name' : laptop_names , 
                'Price' : laptop_prices , 
                'Rating' : laptop_ratings 
              }

In [5]:
gaming_laptops = pd.DataFrame(data = laptop_dict, columns=['Name','Price','Rating'])
gaming_laptops.head()

                                                Name  Price Rating
0  acer Aspire 7 Core i5 12th Gen - (8 GB/512 GB ...  57490    4.3
1  acer Aspire 7 Core i5 12th Gen - (16 GB/512 GB...  53990    4.3
2  DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...  39690    4.3
3  Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...  44999    4.3
4  ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...  27990    4.3

In [ ]:
gaming_laptops.to_csv('Flipkart_laptops.csv')